/* ==|====================
   Artikuls List
   ======================= */

.artikuls-list-wrap {
	position: relative;
	margin-top: 60px;
	padding-bottom: 50px;
}

.artikul-item {
	padding: 0 20px 26px;
	text-decoration: none !important;
	color: #000 !important;
	font-weight: 400;
	
	&__top {
		height: 256px;
		border-bottom: 1px solid #ececec;
	}
	
	&__pic {
		height: 100%;
		line-height: 250px;
		text-align: center;
		
		img {
			max-width: 80%;
			max-height: 80%;
			transition: transform 0.3s;
		}
		
	}
	
	&__labels {
		position: absolute;
		right: 0;
		text-align: right;
		top: 14px;
		
		span {
			display: block;
			margin-bottom: 5px;
			position: relative;
			padding-right: 12px;
			font-size: 13px;
			line-height: 1.3em;
			color: #656565;
			
			&:after {
				content: "";
				position: absolute;
				right: 0;
				top: 3px;
				bottom: 1px;
				width: 2px;
				background-color: #656565;
			}
			
			&.bestseller-label {
				color: #ffa800;
				
				&:after {
					background-color: #ffa800;
				}
				
			}
			
			&.new-label {
				color: #09b646;
				
				&:after {
					background-color: #09b646;
				}
				
			}
			
		}
		
	}
	
	&__base {
		padding-top: 16px;
		position: relative;
		display: flex;
		justify-content: space-between;
	}
	
	&__name {
		max-width: 100%;
		font-size: 14px;
		padding-right: 5px;
		line-height: 1.3em;
		font-weight: 400;
	}
	
	&__price {
		font-size: 14px;
		line-height: 1.3em;
		font-weight: 400;
		white-space: nowrap;
		
		span {
			font-size: 11px;
			color: #ababab;
		}
		
	}
	
	&:hover {
		
		.artikul-item__pic img {
			transform: scale(1.1);
		}
	
	}
	
}

.artikuls-list-line {
	height: 91px;
}

.view-switcher {
	position: absolute;
	width: 204px;
	height: 33px;
	right: 0;
	top: -60px;
	border-bottom: 1px solid #ececec;
	
	a {
		display: block;
		padding: 8px 5px;
		position: relative;
		height: 100%;
		width: 50%;
		float: left;
		text-align: center;
		font-size: 11px;
		line-height: 1.3em;
		text-decoration: none !important;
		color: #727272;
		transition: 0.2s;
		font-weight: 400;
		
		&:after {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 2px;
			transition: background-color 0.2s;
		}
		
		&:hover {
			color: #d7c257;
		}
		
		&.active {
			color: #d7c257;
			
			&:after {
				background-color: #d7c257 !important;
			}
			
		}
		
	}
	
}


@media only screen and (max-width: 991px) {
	
	.artikuls-list-wrap {
		margin-top: 25px;
	}
	
	.artikul-item {
		padding: 0 11px 20px;
	}
	
	.artikul-item__top {
		height: 146px;
	}
	
	.artikul-item__pic {
		line-height: 143px;
		
		img {
			max-height: 55%;
		}
		
	}
	
	.artikuls-list-line {
		display: none;
	}
	
	.artikul-item__labels {
		top: 9px;
		
		span {
			margin-bottom: 3px;
			padding-right: 7px;
			font-size: 9px;
			
			&:after {
				top: 1px;
				bottom: 0;
			}
			
		}
		
	}
	
	.artikul-item__base {
		display: block !important;
		padding-top: 9px;
		padding-bottom: 35px;
		position: static;
	}
	
	.artikul-item__name {
		min-height: 26px;
		padding-right: 0;
		font-size: 10px;
		line-height: 13px;
	}
	
	.artikul-item__price {
		position: absolute;
		left: 11px;
		right: auto;
		top: auto;
		bottom: 15px;
		font-size: 12px;
		
		span {
			display: block;
			margin-bottom: 4px;
			line-height: 1em;
			font-size: 11px;
		}
		
	}
	
	.view-switcher {
		position: static;
		width: auto;
		margin-top: -4px;
		margin-bottom: 29px;
	}

}


/* artikuls list by list view */

.artikuls-list-wrap.view-list {
	
	.view-switcher {
		top: -30px;
		
	
	}


}

.artikuls-view-list {
	margin-top: -28px;
	margin-bottom: -37px;
	max-width: 1295px;
	padding-bottom: 13px;
	
	ul {
		list-style: none;
		columns: 3 auto;
		
		li {
			padding: 0;
			padding-right: 155px;
			margin: 0;
			-webkit-column-break-inside: avoid;
			position: relative;
			
			&:before {
				display: none;
			}
			
			a {
				display: inline-block;
				position: relative;
				padding: 22px 0;
				color: #000;
				font-weight: 400;
				line-height: 1.5;
				
				&:hover {
					color: $mainColor;
				}
				
				.goods-labels {
					position: absolute;
					top: 6px;
					left: 100%;
					font-size: 13px;
					
					i {
						font-style: normal;
						white-space: nowrap;
						margin-right: 10px;
						
						&:last-child {
							margin-right: 0;
						}
						
						&.hit {
							color: #ffa800;
						}
						&.new {
							color: #09b646;
						}
						
					}
					
				}
				
			}
			
		}
		
	}
	
}

@media only screen and (max-width: 1170px) {
	
	.artikuls-view-list {
		margin-bottom: 0;
	}

}

@media only screen and (max-width: 991px) {
	
	.artikuls-list-wrap.view-list .view-switcher {
		margin-bottom: 55px;
	}
	
	.artikuls-view-list ul {
		column-count: 2 !important;
		
		li {
			
			a {
				padding: 16px 0;
				
				.goods-labels {
					font-size: 9px;
					top: 4px;
				}
				
			}
			
		}
		
	}

}

@media only screen and (max-width: 767px) {
	
	.artikuls-view-list ul {
		column-count: auto !important;
		
		li {
			padding-right: 95px;
		}
		
	}

}


/* similar goods slider */

.similar-goods-slider-wrap {
	margin-top: 40px;
	margin-bottom: 30px;
	
	h2 {
		margin-bottom: 27px;
		color: #aaa;
	}
	
}

.similar-goods-slider-box {
	max-width: 1292px;
	margin: 0 auto;
	min-height: 271px;
}

.similar-goods-slider {
	
	.slick-track {
		margin-left: 0;
		margin-right: 0;
	}
	
	.slide-box {
		padding: 0 11px;
	}
	
	.slick-arrow {
		position: absolute;
		width: 58px;
		height: 11px;
		z-index: 5;
		border: none;
		top: 100px;
		background-repeat: no-repeat;
		background-position: center;
		background-color: transparent;
		background-size: 58px 11px;
		text-indent: -9999px;
		transition: opacity 0.2s;
		
		&.slick-prev {
			left: -75px;
			background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNTEuOTE0IiBoZWlnaHQ9IjI5LjA1MyIgdmlld0JveD0iMCAwIDQwMTkgNzY5IiBzaGFwZS1yZW5kZXJpbmc9Imdlb21ldHJpY1ByZWNpc2lvbiIgdGV4dC1yZW5kZXJpbmc9Imdlb21ldHJpY1ByZWNpc2lvbiIgaW1hZ2UtcmVuZGVyaW5nPSJvcHRpbWl6ZVF1YWxpdHkiIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIj48ZGVmcz48c3R5bGU+LmZpbDB7ZmlsbDojMmIyYTI5O2ZpbGwtcnVsZTpub256ZXJvfTwvc3R5bGU+PC9kZWZzPjxnPjxwYXRoIGZpbGw9IiMwMDAiIGNsYXNzPSJmaWwwIiBkPSJNMzg0IDBMMCAzODVsMzg0IDM4NCA3MC03MS0zMTMtMzEzTDQ1NSA3MXoiLz48cGF0aCBmaWxsPSIjMDAwIiBjbGFzcz0iZmlsMCIgZD0iTTcwIDQzNWgzOTQ5VjMzNUg3MHoiLz48L2c+PC9zdmc+);
		}
		
		&.slick-next {
			right: -75px;
			background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNTEuOTE0IiBoZWlnaHQ9IjI5LjA1MyIgdmlld0JveD0iMCAwIDQwMTkgNzY5IiBzaGFwZS1yZW5kZXJpbmc9Imdlb21ldHJpY1ByZWNpc2lvbiIgdGV4dC1yZW5kZXJpbmc9Imdlb21ldHJpY1ByZWNpc2lvbiIgaW1hZ2UtcmVuZGVyaW5nPSJvcHRpbWl6ZVF1YWxpdHkiIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIj48ZGVmcz48c3R5bGU+LmZpbDB7ZmlsbDojMmIyYTI5O2ZpbGwtcnVsZTpub256ZXJvfTwvc3R5bGU+PC9kZWZzPjxnPjxwYXRoIGZpbGw9IiMwMDAiIGNsYXNzPSJmaWwwIiBkPSJNMzYzNiAwbDM4MyAzODUtMzgzIDM4NC03MC03MSAzMTItMzEzLTMxMy0zMTR6Ii8+PHBhdGggZmlsbD0iIzAwMCIgY2xhc3M9ImZpbDAiIGQ9Ik0zOTQ5IDQzNUgwVjMzNWgzOTQ5eiIvPjwvZz48L3N2Zz4=);
		}
		
		&:before {
			content: "";
			position: absolute;
			left: -10px;
			right: -10px;
			top: -10px;
			bottom: -10px;
		}
		
		&:hover {
			opacity: 0.7;
		}
		
	}

}

.similar-goods-item {
	display: none;
	padding-bottom: 22px;
	border: 1px solid #ececec;
	box-shadow: none !important;
	transition: border-color 0.2s;
	
	&:hover {
		border-color: $mainColor;
	}
	
	img {
		display: inline-block !important;
		width: auto;
	}
	
	.artikul-item__top {
		height: 211px;
		display: block;
		position: relative;
		text-decoration: none !important;
	}
	
	.artikul-item__pic {
		line-height: 205px;
	}
	
	.artikul-item__base {
		padding-top: 19px;
	}
	
	.artikul-item__name {
		font-size: 13px;
		
		a {
			text-decoration: none;
			color: #000;
			font-weight: 400;
			
			&:hover {
				color: $mainColor;
			}
			
		}
		
	}
	
	.artikul-item__price {
		font-size: 13px;
		
		span {
			font-size: 11px;
		}
		
	}
	
	.goods-item__availability {
		margin-top: 12px;
		padding-right: 65px;
	}
	
	.mp-catalog-item__options {
		bottom: -15px !important;
		right: 0 !important;
	}
	
}

.slick-initialized {
	
	.similar-goods-item {
		display: block;
	}
	
}


@media only screen and (max-width: 1485px) {

	.similar-goods-slider-box {
		max-width: 1200px;
	}
	
	.similar-goods-slider .slick-arrow.slick-prev {
		left: -10px;
	}
	
	.similar-goods-slider .slick-arrow.slick-next {
		right: -10px;
	}

}

@media only screen and (max-width: 991px) {
	
	.similar-goods-slider-wrap {
		margin: 10px -15px 0;
		
		h2 {
			padding: 0 15px !important;
		}
		
	}
	
	.similar-goods-slider .slide-box {
		padding: 0 4px;
	}
	
	.similar-goods-slider .slick-arrow {
		display: none !important;
	}
	
	.similar-goods-item .artikul-item__price {
		top: auto;
		font-size: 12px;
		
		span {
			font-size: 11px;
		}
		
	}
	
	.similar-goods-item .artikul-item__top {
		height: 146px;
	}
	
	.similar-goods-item .artikul-item__pic {
		line-height: 140px;
	}
	
	.similar-goods-item .artikul-item__base {
		padding-top: 16px;
	}
	
	.similar-goods-item .artikul-item__name {
		padding-right: 0;
		font-size: 10px;
	}
	
	.similar-goods-item .goods-item__availability {
		margin-top: 0;
	}
	
	.similar-goods-item .mp-catalog-item__options {
		right: 11px !important;
		bottom: 11px !important;
	}

}