/* ==|====================
   Goods List
   ======================= */

/* goods list */

.goods-list-wrap {
	padding-bottom: 40px;
	margin-bottom: 30px;
}

.goods-list-line {
	height: 154px;
}

.goods-item-col {
	margin-bottom: 30px;
}

.goods-item {
	width: 100%;
	position: relative;
	background-color: #fff;
	transition: box-shadow 0.2s;
	border: none;
	border-radius: 0;
	
	&:hover {
		box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.1);
	}
	
	&__top {
		display: block;
		width: 100%;
		height: 256px;
		padding: 15px;
		position: relative;
		text-decoration: none !important;
		color: #000 !important;
		overflow: hidden;
		
		&:after {
			content: "";
			position: absolute;
			left: 20px;
			right: 20px;
			bottom: 0;
			height: 1px;
			background-color: #ececec;
		}
		
	}
	
	&__pic {
		height: 100%;
		line-height: 226px;
		text-align: center;
		
		img {
			max-width: 80%;
			max-height: 80%;
			transition: transform 0.3s;
		}
		
	}
	
	&__discount {
		position: absolute;
		right: 0;
		top: 16px;
		padding-right: 12px;
		text-align: right;
		
		&:before {
			content: "";
			position: absolute;
			right: 0;
			top: 1px;
			bottom: 1px;
			width: 2px;
			background-color: #fe262f;
		}
		
		.discount-percent {
			font-size: 18px;
			line-height: 1.2em;
			color: #fe262f;
		}
		
		.discount-date {
			margin-top: 4px;
			font-size: 11px;
			line-height: 1.4em;
			color: #656565;
		}
	
	}
	
	&__base {
		padding: 16px 20px 21px;
	}
	
	&__info {
		padding-right: 104px;
		min-height: 86px;
		position: relative;
	}
	
	&__name {
		margin-bottom: 8px;
		font-size: 14px;
		line-height: 1.3em;
		font-weight: 600;
		
		a {
			display: block;
			padding-right: 5px;
			text-decoration: none;
			color: #000;
			font-weight: 400;
			cursor: pointer;
			
			&:hover {
				color: $mainColor !important;
			}
			
		}
		
	}
	
	&__availability {
		
		> small {
			display: block;
			font-size: 11px;
			color: #656565;
			line-height: 1.3em;
			
			&.not-in-stock {
				color: #f99f77;
			}
			
		}
		
	}
	
	.sizes-list {
		margin-top: 6px;
		color: $mainColor;
		font-size: 11px;
		line-height: 1.3em;
		
		a {
			display: inline-block;
			margin-right: 8px;
			margin-bottom: 6px;
			vertical-align: top;
			text-decoration: none;
			font-weight: 600;
			
			&:hover {
				text-decoration: underline;
			}
			
		}
		
	}
	
	&__price {
		position: absolute;
		max-width: 115px;
		right: 0;
		top: 0;
		text-align: right;
		line-height: 1.3em;
		
		> div {
			display: inline-block;
			font-size: 14px;
			line-height: 1.3em;
			font-weight: 400;
			
			&.from-value {
				margin-right: 5px;
				font-size: 11px;
				color: #ababab;
				
				span {
					text-decoration: line-through;
				}
				
			}
			
			&.cur-value {
				white-space: nowrap;
			}
			
		}
		
	}
	
	.mp-catalog-item__options {
		bottom: 23px !important;
		right: 19px;
		transition: none !important;
		transform: none !important;
	}
	
	&:hover {
		
		.goods-item__pic img {
			transform: scale(1.1);
		}
	
	}
	
}

.ie {

	.goods-item-col {
		display: block !important;
	}
	
	.goods-item {
		height: 100%;
	}

}

@media only screen and (max-width: 991px) {
	
	.goods-list {
		margin-left: -4px;
		margin-right: -4px;
	}
	
	.goods-item-col {
		padding: 0 4px;
		margin-bottom: 8px;
	}
	
	.goods-item__top {
		height: 146px;
		padding: 11px;
		
		&:after {
			left: 11px;
			right: 11px;
		}
		
	}
	
	.goods-item__pic {
		line-height: 124px;
	}
	
	.goods-item__discount {
		padding-right: 7px;
		top: 10px;
	
		.discount-percent {
			font-size: 11px;
		}
		
		.discount-date {
			margin-top: 1px;
			font-size: 9px;
		}
	
	}
	
	.goods-item__info {
		padding-right: 0;
		position: static;
	}
	
	.goods-item__price {
		right: auto;
		left: 11px;
		top: auto;
		bottom: 16px;
		text-align: left;
	}
	
	.goods-item__base {
		padding: 9px 11px 49px;
	}
	
	.goods-item__name {
		margin-bottom: 11px;
		font-size: 12px;
		line-height: 1.5;
		
		a {
			padding-right: 0;
		}
		
	}
	
	.goods-item__availability {
		min-height: 67px;
		
		> small {
			font-size: 11px;
		}
		
	}
	
	.goods-item .sizes-list {
		
		a {
			font-size: 10px;
			margin-right: 16px;
			margin-bottom: 3px;
		}
		
	}
	
	.goods-item__price {
		max-width: none;
	
		> div {
			display: block;
			font-size: 12px;
			line-height: 1em;
			
			&.from-value {
				margin-bottom: 6px;
				font-size: 11px;
			}
			
		}
	
	}
	
	.goods-item .mp-catalog-item__options {
		right: 11px;
		bottom: 11px !important;
	}
	
	.goods-list-line {
		display: none;
	}
	
	.goods-list-wrap {
		
		.show-more-btn {
			padding-bottom: 50px;
		}
		
	}

}

@media only screen and (max-width: 767px) {
	
	.goods-list-wrap {
		margin-bottom: 0;
	}
	
	.goods-list {
		margin-left: -15px;
		margin-right: -15px;
	}

}


.goods-not-found {
	margin-top: -8px;
	margin-bottom: 30px;
	padding-bottom: 30px;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.4;
	
	&__title {
		margin-bottom: 13px;
	}
	
	&__reset {
		
		a {
			border-bottom: 1px dotted;
		}
		
	}
	
}

.goods-preloader-wrap {
	padding: 80px 0 120px;
	margin-bottom: 30px;
	position: relative;
	
	.preloader {
		margin: 0 auto;
	}
	
}

@media only screen and (max-width: 1535px) {
	
	.goods-not-found {
		padding-left: 0 !important;
	}

}

@media only screen and (max-width: 767px) {
	
	.goods-not-found {
		margin-top: 20px;
		margin-bottom: 0;
		padding-bottom: 50px;
		font-size: 16px;
	}
	
	.goods-preloader-wrap {
		margin-bottom: 0;
	}

}