/* ==|====================
   LK
   ======================= */

.lk-nav {

	ul {
		display: inline-block;
		border-bottom: 1px solid #ececec;
		list-style: none;
		margin: 0;
		padding: 0;
		
		> li {
			display: inline-block;
			margin-right: 50px;
			vertical-align: top;
			padding: 0;
			margin-bottom: 0;
			
			&:before {
				display: none;
			}
			
			&:last-child {
				margin-right: 0;
			}
			
			> a {
				display: block;
				border-bottom: 2px solid transparent;
				padding: 10px 0 9px;
				font-size: 16px;
				font-weight: 400;
				color: #aaa;
				
				&:hover {
					color: #333;
				}
				
			}
			
			&.current {
				
				> a {
					color: #000;
					border-color: $mainColor;
				}
				
			}
			
		}
		
	}

}

.lk-content-wrap {
	padding-top: 42px;
}

.lk-contact-form {
	margin-bottom: 3px;

	.checkout-fields-section {
		max-width: 1015px;
	}

}

@media only screen and (max-width: 767px) {
	
	.lk-content-wrap {
		padding-top: 10px;
	}
	
	.lk-nav {
		display: none;
	}
	
	.lk-nav ul {
		display: block;
	}
	
	.lk-nav ul > li {
		display: block;
		margin: 0;
		float: left;
		width: 50%;
		text-align: center;
		
		> a {
			font-size: 11px;
		}
		
	}
	
	.lk-contact-form {
		margin-bottom: 50px;
		
		&:last-child {
			margin-bottom: 0;
		}
		
	}

}


/* orders list */

.lk-orders-box {
	margin-top: 15px;
}

.lk-order-col {
	margin-bottom: 30px;
}

.lk-orders-list {

	&__caption {
		display: none;
		margin-bottom: 11px;
		font-size: 16px;
	}

}

.lk-order-item {
	width: 100%;
	padding: 30px 22px 35px;
	border: 1px solid #ececec;
	border-radius: 0;
	position: relative;
	font-weight: 400;
	color: #000 !important;
	transition: border-color 0.2s;
	
	&:hover {
		border-color: $mainColor;
	}
	
	&__box {
		position: relative;
		width: 335px;
		margin: 0 auto;
		padding-left: 105px;
	}
	
	&__date {
		position: absolute;
		padding-bottom: 3px;
		border-bottom: 1px solid #ececec;
		left: 0;
		top: 0;
		
		&.highlight {
			border-color: $mainColor;
		}
		
	}
	
	&__param {
		margin-bottom: 9px;
		
		&:last-child {
			margin-bottom: 0;
		}
		
		span {
			
			&.label {
				margin-right: 15px;
				color: #aaa;
			}
			
			
			em {
				font-style: normal;
				color: #656565;
			}
			
		}
		
	}
	
}

.lk-orders-more {
	margin-top: 11px;
	
	.regular-btn {
		display: block;
		max-width: calc(33.33333% - 20px);
		margin: 0 auto;
		padding: 14px 15px;
		height: 55px;
		font-size: 13px;
	}
	
}

.ie {
	
	.lk-order-col {
		display: block !important;
	}
	
	.lk-order-item {
		height: 100%;
	}
	
}

@media only screen and (max-width: 1270px) {
	
	.lk-order-item__box {
		width: auto;
		padding-left: 70px;
	}
	
}

@media only screen and (max-width: 1270px) {
	
	.lk-orders-more .regular-btn {
		max-width: none;
		width: 100%;
	}

}

@media only screen and (max-width: 767px) {

	.lk-orders-list__caption {
		display: block;
	}

}

@media only screen and (max-width: 680px) {
	
	.lk-order-col {
		flex: 0 0 100%;
		max-width: 100%;
		margin-bottom: -1px;
	}
	
	.lk-order-item__box {
		min-width: 230px;
	}
	
	.lk-order-item {
		padding-top: 22px;
		padding-bottom: 29px;
		font-size: 12px;
		
		&:hover {
			z-index: 1;
		}
		
	}
	
	.lk-order-item__param {
		margin-bottom: 6px;
	}
	
	.lk-orders-more {
		margin-top: 30px;
	}
	
}


/* order detail modal */

.order-detail-modal {
	padding: 40px 130px 100px;
}

.order-detail-params {
	margin-bottom: 12px;
}

.order-detail-param {
	display: inline-block;
	margin-right: 47px;
	margin-bottom: 5px;
	vertical-align: top;
	font-size: 16px;
	
	span {
		margin-right: 10px;
		color: #aaa;
	}
	
	strong {
		color: #000;
		font-weight: 500;
	}
	
	em {
		font-style: normal;
		font-weight: 500;
		
		&.closed {
			color: #656565;
			font-weight: 400;
		}
		
	}
	
}

.repeat-order-btn {
	margin-top: 55px;
	text-align: right;
	
	.regular-btn {
		height: 65px;
		padding: 19px 59px;
	}
	
}


@media only screen and (max-width: 1400px) {
	
	.order-detail-modal {
		padding-left: 30px;
		padding-right: 30px;
	}

}

@media only screen and (max-width: 991px) {
	
	.order-detail-modal {
		padding: 45px 15px 55px;
		
		.cart-goods-row > div.goods-qty-cell::before {
			display: none;
		}
		
		.cart-goods-row > div.goods-qty-cell .qty-spinner-box {
			width: auto;
			margin-right: 50px;
			display: inline-block;
			vertical-align: top;
		}
		
		.cart-goods-row > div.goods-qty-cell .qty-spinner__title {
			font-size: 11px;
			color: #ababab;
		}
		
		.qty-spinner-box .qty-value {
			padding-top: 0;
			font-size: 12px;
			min-height: 0;
		}
		
	}

}

@media only screen and (max-width: 900px) {
	
	.order-detail-modal {
		
		.cart-wrap {
			margin-top: 0;
		}
		
	}
	
	.order-detail-params {
		margin-bottom: 15px;
		padding-bottom: 7px;
		border-bottom: 1px solid #ececec;
	}
	
	.order-detail-param {
		display: block;
		margin-bottom: 6px;
		margin-right: 0;
		font-size: 12px;
		
		&:first-child {
			font-size: 16px;
		}
		
		span {
			display: inline-block;
			min-width: 60px;
		}
		
		
	}
	
	.repeat-order-btn {
		margin-top: 30px;
		
		.regular-btn {
			width: 100%;
		}
		
	}

}


.lk-personal-mobile {
	display: none;
	margin-bottom: 40px;
	
	.user-name {
		margin-bottom: 13px;
		font-size: 16px;
	}
	
	.user-param {
		margin-bottom: 19px;
		
		span {
			display: block;
			font-size: 11px;
			color: #aaa;
		}
		
		strong {
			display: block;
			font-weight: 400;
		}
		
	}
	
	.hidden-user-params {
		display: none;
	}
	
	.show-all-user-params {
		padding-top: 5px;
		
		a {
			font-weight: 400;
			color: #000;
			border-bottom: 1px dotted #aaa;
			
			&:hover {
				color: $mainColor;
				border-color: $mainColor;
			}
			
		}
		
	}
	
	.change-params {
		margin-top: 25px;
		
		.regular-btn {
			display: block;
			height: 65px;
			width: 100%;
			padding: 19px 15px;
		}
		
	}
	
}

.lk-personal-modal__caption {
	margin-bottom: -12px;
	font-size: 18px;
}

@media only screen and (max-width: 767px) {

	.lk-personal-mobile {
		display: block;
	}

}

.lk-logout-link {
	position: relative;
	padding-left: 31px;
	font-size: 14px;
	font-weight: normal;
	color: #000;
	
	&:before {
		content: "";
		position: absolute;
		left: 0;
		top: 1px;
		width: 17px;
		height: 15px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 17px 15px;
		background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNjc0IDE1MjMiIGZpbGw9IiM3MDcwNzAiPjxnPjxnIGlkPSJfMjUxMzIzMDUyNjI0MCI+PHBhdGggZD0iTTU2NyAzODVWMTEyaDYyOXYxMTBINjc3djE2M3pNNTY3IDExMzh2MjczaDYyOXYtMTEwSDY3N3YtMTYzeiIvPjxwYXRoIGQ9Ik0xNjQwIDEzNDNsLTQzMCAxODBoLTEwMVYwaDEwMGw0NjUgMTk1djExMzNsLTM0IDE1em0tNDIxIDU3bDM0NS0xNDVWMjY4bC0zNDUtMTQ1djEyNzd6Ii8+PGc+PHBhdGggY2xhc3M9ImZpbDAiIGQ9Ik00OTQgOTM0bDE3My0xNzMtMTczLTE3MiA3OC03OCAyNTEgMjUwLTI1MSAyNTF6Ii8+PHBhdGggZD0iTTc0MCA4MTZIMFY3MDZoNzQweiIvPjwvZz48L2c+PC9nPjwvc3ZnPg==);
	}
	
}

.checkout-submit-box {

	.lk-logout-box {
		float: left;
		margin-top: 26px;
	}

}

.lk-orders-box {

	.lk-logout-box {
		margin-top: 30px;
	}

}















