@charset "UTF-8";

// ----------------------
// == Site settings
// ----------------------

// fonts

/* noto-serif-sc-700 - cyrillic_latin */
@font-face {
	font-family: 'Noto_Serif_SC';
	font-style: normal;
	font-weight: 700;
	src: local('Noto Serif SC Bold'), local('NotoSerifSC-Bold'),
	url('../fonts/noto-serif-sc-v5-cyrillic_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('../fonts/noto-serif-sc-v5-cyrillic_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

$mainFont: "Montserrat", sans-serif;
$notoSerifSC: "Noto_Serif_SC", serif;


// Colors

$mainColor: #d7c257;